* {
  font-family: "Inder", sans-serif;
  font-family: "K2D", sans-serif;
}
h1{
    color: #000000;
    font-size: 2.1em;
    margin : 10px;
    margin-left: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}
header{
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.gitLink{
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
  padding: 0px 10px;
  text-decoration: none;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #6cc644;
  border-top-left-radius: 50px ;
  border-bottom-left-radius: 50px;
  transition: all 200ms ease;
  translate: 50px 0;
}
.gitLink:hover{
  translate: 0;
}
.gitIcon{
  font-size: 1.3em;
}
.gdp h2{
  color: #ffffff;
  padding: 8px;
  border: 3px solid #00000000;
  background-color: #eb3a49 ;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom:15px ;
  text-align: center;
  width: fit-content;
}
.upper {
  background-color: #e3e3e3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.chartContainer {
  border-radius: 10px;
  background-color: #ffffff;
  margin-left: 2%;
  flex-basis: 48%;
  overflow: hidden;
  aspect-ratio: 2;
}
.pieContainer {
  flex-basis: 100%;
}

@media screen and (max-width: 800px) {
  .upper{
    display: unset;
    background-color: #ffffff00;
  }
  .chartContainer {
    border: solid #e4e4e4;
    margin: 10px;
    margin-top: 20px;
  }
}
