
.apexcharts-tooltip-text-y-value{
    display: none;
    scale: 0;
}
.apexcharts-tooltip-text-y-label{
    content: "";
}
.pieChart .apexcharts-legend-series{
    background-color: #ffffff;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    transition: all 100ms ease;
}
.pieChart .apexcharts-legend-series:hover{
    scale: 1.01;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.pieChart .apexcharts-legend-marker{
    min-height: 20px;
    min-width: 20px;
}
.pieChart .apexcharts-legend-text{
    display: flex;
    max-width: 200px;
    min-width: 200px;
}
.pieChart .pieLabel{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pieChart label{
    margin-left: 2px;
    text-align: start;
    color: inherit;
    white-space: normal;
    text-overflow: ellipsis;
    max-width: 100px;
    font-size: 1.3em;
}
.pieChart label:nth-child(2){
    white-space: nowrap;
}
@media screen and (max-width:1000px) {
    .apexcharts-svg {
        display: flex;
        flex-direction: column;
    }
    .apexcharts-svg>g{
        margin: auto;
    }
    
    
}