.mapFunction{
    flex-basis: 50%;
    display: block;
    align-self: flex-end;
}
.upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.upper label{
    font-size: 1.5em;
    font-weight: 700;
    color: #414141;
}
.left{
    display: flex;
    align-items: center;
}

.zoomContainer{
    position: absolute;
    right: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.zoomButton{
    margin-top: 10px;
    color: #484848;
    background-color: #ffffff91;
    width: 30px;
    height: 30px;
    z-index: 2;
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 8px;
    transition: all 100ms ease;
}
.zoomButton:hover{
    background-color: white;
}
.mapContainer{
    position: relative;
    aspect-ratio: 1.9;
    border-radius: 20px;
    overflow: hidden;
    border: 5px solid #ffffff;
    background-color: #6682a7b9;
}
.mapContainer svg{
    padding-top: 3rem;
}